#container
    position: fixed
    top: 0
    z-index: 999
    justify-content: space-around
    background: #eee
    width: 100%
    height: 80px

#logo_container
    width: 160px
    height: 70px
    img
        width: 70%
        height: 70%
        object-fit: cover

#dummy
    height: 80px

#btn_row
    display: flex
    align-items: center
    justify-content: space-between
    gap: 10px
    button 
        display: flex

.icon
    padding: 5px 10px 0 0


#phone_row
    display: flex
    align-items: center
    justify-content: space-between
    gap: 10px
    button 
        display: flex
    
#animated_border
    animation: gradient 1.5s ease-in-out infinite alternate
    background: linear-gradient(-45deg,#0625d8,#ff0)
    background-size: auto
    background-size: 300% 300%
    bottom: 0
    height: 3px
    position: absolute
    width: 100%

@media screen and (max-width: 768px)
    #phone_row
        padding: 10px 0
        gap: 20px
        button
            height: 60px
            padding: 10px 20px
            font-size: 1.5rem

@keyframes gradient 
  0% 
    background-position: 0% 100%
  
  100% 
    background-position: 100% 0%
  
