#container
    background: #ccc
    color : black
    justify-content: space-around
    min-height: 200px
    padding: 0 0 20px 

    z-index: 999
    width: 100%

#logo_container
    width: 250px
    height: 180px
    img
        width: 80%
        height: 80%
        object-fit: scale-down

#contact
    h2
        margin: 0 0 20px 0
        font-family: Antonio
        font-size: 1.8rem
    p
        margin: 10px 0 0 
        font-family: Anton
        font-size: 1.2rem